body {
  font-family: Helvetica, Arial, sans-serif;
  background-size: cover;	  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  width: 100%;
  overflow: auto;
}
a, button, input{
cursor: pointer;
}
.text-soft {
  color: #5f5f5f;
}
.text-primary {
  color: #FF9022;
}
.text-inverse{
	color: white;
}
.space{
	padding-bottom: 20px; 
}
.spaceSmall{
	padding-bottom: 20px; 
}
.spaceBigger{
	padding-bottom: 40px;; 
}
.pointer{
	cursor: pointer;
}
.border-radius{
	border-radius: 4px;
}
.menu{
	padding: 0px;
}
p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 8px;
}
p.large {
  font-size: 17px;
}
.mainLogo{
	margin-left: 5px;
	margin-top: -12px;
	width: 130px;
}
.divided{
	padding-left: 0.5%;
	padding-right: 0.5%;
}
.login{
	margin-top: 8px;
	margin-bottom: 15px;
	background-color: #FF9022;
	border-width: 0px;
	color: white;
    text-transform: uppercase;
    padding: 6px 20px;
	letter-spacing: 1px;
}
.login:hover,
.login:active,
.login.active,
.login:focus,
.login:active:focus, .btn.active:focus
{
	background-color: #ee7600;
	border-width: 0px;
	color: white;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
  color: #FF9022;
}
a{
	text-decoration: none;
	color: black;
}
h1{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
h2{
  font-weight: 400;
}
.padding{
	padding-bottom: 2%;
}
.photoBg{
	background-image: url('../img/photo/bg01.png');
	background-repeat: no-repeat;
	background-size:cover;	  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
 }
.photoBg2{
	background-image: url('../img/photo/bg02.png');
	background-repeat: no-repeat;
	background-size:cover;	  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover; 
 }
.bg-photo-main{
   background-image: url('../img/photo/bg02darker.jpg');
  background-size: cover;	  
  -webkit-background-size: cover;
  -moz-background-size: cover;

}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
	background-color: #f3f3f3;
}
.bg-white{
	background-color: white;
}
.bg-gray{
	background-color: #dadada;
}
.btn-primary {
  color: white;
  background-color: #FF9022;
  border-color: #FF9022;
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #FF9022;
  border-color: #FF9022;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FF9022;
  border-color: #FF9022;
}
.btn-primary .badge {
  color: #FF9022;
  background-color: white;
}
.button-box {
	display: table;
    margin: 0 auto;
	float:none;
	text-align: center;
}
.btn-participate {
  color: white;
  background-color: #6D2F7C;
  font-weight: 600;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
  display: block;  
}
.btn-participate:hover,
.btn-participate:focus,
.btn-participate:active,
.btn-participate.active,
.open .dropdown-toggle.btn-participate {
  color: white;
  background-color: #FF9022;
  border-color: #FF9022;
  text-decoration: none;
}
.btn-participate:active,
.btn-participate.active,
.open .dropdown-toggle.btn-participate {
  background-image: none;
  text-decoration: none;
}
.btn-participate .badge {
  color: #FF9022;
  background-color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
	.btn-participate {
		  padding: 20px 40px;
		  font-size: 22px;
	}
	.login{
		margin-left: 20px;
		margin-bottom: 0px;
		margin-top: 8px;
	}
	.space{
	padding-bottom: 40px; 
	}
	.spaceBigger{
	padding-bottom: 60px;; 
	}
}
.navbar-custom {
  background-color: none;
  border-color: transparent;
  background-color: #222222;
}
.navbar-custom .navbar-brand {
  color: #FF9022;
  font-family: "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #FF9022;
}
.navbar-custom .navbar-collapse {
   border-color: #FF9022;
}
.navbar-custom .navbar-toggle {
  border-color: #FF9022;
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #FF9022;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: white;
  background-color: #FF9022;
}
.navbar-custom .nav li a {
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #FF9022;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  background-color: transparent;
  color: #FF9022;

}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #FF9022;
  background-color: transparent;
}
.navbar-custom .navbar-nav a:visited{
	color: white;	
}
.active{
	 color: #FF9022;
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media (min-width: 1000px) {
  .navbar-custom {
    background-color: transparent;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  text-align: center;
  color: white;
  text-align: center;
}
header .intro-text {
  padding-top: 35%;
  padding-bottom: 15%;
}
header .intro-text .intro-lead-in, header .header-text .intro-lead-in {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 6px;
}
header .intro-text .intro-heading {
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  padding-bottom: 20px;
}
header .intro-text .date{
	color: #FF9022;
	font-size: 17px;
}
@media (min-width: 768px) {
	header .intro-text .date{
	color: #FF9022;
	font-size: 19px;
	}
  header .intro-text {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 40px;
	margin-bottom: 15px;
	width: 100%;
  }
  header .intro-text .intro-heading {
    font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 120px;
    line-height: 75px;
    margin-bottom: 2.5%;
  }  
}  
.strip{	
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.5);
}
section {
  padding: 40px 0;
}
section h2.section-heading {
  font-size: 24px;
  margin-top: 0;
  line-height: 1.2;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  margin-bottom: 40px; 
  line-height: 1.4;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
	.strip{	
    padding-top: 2%;
    padding-bottom: 2%;
	}
	section {
		padding: 80px 0;
	}
	section h2.section-heading {
		font-size: 40px;
		margin-top: 0;
	}
	section h3.section-subheading {
		font-size: 22px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: none;
		margin-bottom: 40px;
		line-height: 1.4;
	}
}
.darker{
	font-weight: 400;
}
.light{
	font-weight: 300;
}
.table-reasons{
	background-color: white;
	padding: 5%;
	padding-top:6%;
	border-radius: 4px;
}
.icon:hover{
	animation: jump 1s;	
	-webkit-animation-name: jump;
	animation-name: jump;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
.icon2:hover{
	animation: pulse 1s;	
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
.container2{
	display: table;
    margin: 0 auto;
	float:none;
	margin-bottom: 30px; 
}
.text-detailed{
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.1;
	font-weight: 300;
}
.reason-heading {
  font-weight: 500;
  font-size: 22px;
  text-transform: none;
  text-align: center;
}
.lower1{
	padding-top: 1%;
}
.lower2{
	padding-top: 2%;
}
.pictogram{
	 background:transparent url("img/picto/02.png") center top no-repeat;
}
.description{
  font-size: 14px;
  text-align: center;
}
.freeSpace{
	height: 40px;
	width: 40px;
}
.nondashed{
	 padding-bottom: 4%;
	 padding-top: 4%;	
}
.dashed1, .dashed2, .dashed3, .dashed4{
	 border-bottom: 2px dashed #cccccc;
	 padding-bottom: 4%;
	 padding-top: 4%;
}
.narrower{
	width: 90%;
	margin: 0 auto;
    display: block;
	}
@media (min-width: 576px) {
	.description{
		font-size: 16px;
		text-align: left;
	}
	.reason-heading {
		text-align: left;
	}
}
@media (min-width: 768px) {
	.text-detailed{
		font-size: 20px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1.2;
		font-weight: 300;
	}
	.container2{
		margin-bottom: 60px; 
	}
	.dashed1{
		border-right: 2px dashed #cccccc;
		padding-bottom: 2%;
		padding-top: 2%;
	}
	.dashed2{
		padding-bottom: 2%;
		padding-top: 2%;
	}
	 .dashed3{
		border-right: 2px dashed #cccccc;
		border-bottom: none;
	}
	.wider{
		padding-bottom: 4%;
		padding-top: 4%;
	}
	.narrower{
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	.dashed4{
		border-right: 2px dashed #bdbdbd;
		border-bottom: none;
	}
}
.violet{
	background-color: #6D2F7C;
}
#map{
	height: 500px;
}
.mapAddress{
	width: 150px;	
	height: 150px;
	border-radius: 50%;
	background-color: #FF9022;
	position: absolute;
	top: 73%;
	right: 28%;
}
.mapAddress:hover,
.mapAddress:focus{
	background-color: #ee7600;
}
.address-title{
	margin: 0 auto;
	padding-top: 30%;
	font-size: 18px;
	color: white;
	text-align: center;
	padding-bottom: 3%;
	font-weight: 600;
}
.address-detail{
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: white;
	text-align: center;
}
.img-responsive{
	width: 160px;
	height: 160px;
}
@media (min-width: 768px) {	
	.mapAddress{
		width: 200px;	
		height: 200px;
		top: 64%;
		right: 4%;
	}
	.address-title{
		padding-top: 36%;
		font-size: 26px;	
		padding-bottom: 3%;
	}
	.address-detail{
		font-size: 18px;
	}
	.img-responsive{
	width: 200px;
	height: 200px;
}
}
.contact-member {
  text-align: center;
  margin-bottom: 50px;
}
.contact-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.contact-member p {
  margin-top: 0;
  line-height: 1.2;
  margin: 10px 0 0;
}
section#contact .section-heading {
	margin-bottom: 50px; 
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #FF9022;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
.footerJobch{
	padding-top: 10%;
}
.logo{
	padding-left:3%;
	padding-right: 3%;
	max-width: 90px; 
    height: auto;
}
.bottomStrip{
	background-color: #6D2F7C;
	padding-bottom: 60px;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
@media (min-width: 768px) {	
	.logo{
		padding-left:3%;
		padding-right: 3%;
		max-width: 130px; 
		height: auto;
	}
	.bottomStrip{
		padding-bottom: 50px;
	}
}
::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
 /* Uchazec neprihlaseny */
#reasonReg{
	padding: 0 0; 
}
.aspirant-heading{
	padding-bottom: 0.5%;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
}
.aspirant-subtitle{
	font-size: 22px;
	font-weight: 300;
	padding-top: 3%;
	line-height: 1.2;
}
.header-text{
	padding-top: 20%;
	padding-bottom: 25%;
}
.reasonReg-heading{
	font-weight: 400;
	font-size: 24px;
	text-transform: none;
	margin-bottom: 2%;	
	text-align: center;
}
.reasonMobile{
	border-bottom: 2px dashed #bdbdbd;
	padding-bottom: 5%;
	padding-top: 5%;
}
.reasonMobile-nondashed{
	padding-bottom: 5%;
	padding-top: 5%;
}
.pictoText{
	padding-bottom: 2%;
}
.pictoItem{
	border: 15px solid white; 
	border-radius: 50%;
	background-color: white;
	display: block;
	margin: 0 auto;
 }
.reg{
	width: 85%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.programme-heading{
	font-size: 34px;
 }
.big{
	padding: 20px 30px;
	font-size: 20px;
	text-transform: none;
	margin: 0 auto;
	margin-top: 4%;
	margin-bottom: 6%;
	float: none;
	display:block;
	border-radius: 4px;	
}
.small{
	font-size: 20px;
	line-height: 1.1;
	font-weight: 500;
	margin-bottom: 5%;
}
.imgLecture{
	margin-bottom: 10%;
}
@media (min-width: 768px) {	
	.aspirant-heading{
		padding-bottom: 0.5%;
		font-size: 60px;
	}
	.aspirant-subtitle{
		font-size: 24px;
		font-weight: 400;
		padding-top: 0.2%;
		line-height: 1.2;
	}
	.header-text{
		padding-top: 8%;
		padding-bottom: 12%;
	}
	.pictoReason{
		display: block;
		margin: 0 auto;
		margin-top: -28%;		
	}
	.reasonReg-heading{
		font-weight: 500;
		font-size: 22px;
		text-transform: none;
		margin-bottom: 2%;
	}
	.reasonMobile{
		border-bottom: none;
	    padding-bottom: 0;
		padding-top: 0;
	}
	.reasonMobile-nondashed{
		padding-bottom: 0;
		padding-top: 0;
	}
	.big{
		font-size: 24px;
	}
}
  /* Vystavovatel neprihlaseny */
.heading-exhibitors{
	margin-top: -5%;
	padding-bottom: 2%;
}
.faq-heading{
	padding-top: 6%;
	padding-bottom: 4%;
}
.faq-group{
	width: 90%;
	margin: 0 auto;
}
.faq-text{
	padding-bottom: 4%;
}
.faq-button{
	color: black;
}
.panel{
	-webkit-box-shadow: none; 
    box-shadow: none;
	border: none;
}
.panel-title{
	font-size: 22px;
	font-weight: 500;
}
.panel-title:hover {
	color: #FF9022;
}
.wrapperPanel{
	overflow: hidden;
}
.faq-img{
	width: 30px;
	height: 30px;
	background-image: url('../img/picto/minus.png');	
	float: left;
}
.collapsed .faq-img{
	background-image: url('../img/picto/plus.png');
	width: 30px;
	height: 30px;
}
.faq-title{
	 overflow: hidden; 
	 padding-left: 15px;
	 padding-top: 2px;
}
.panel-body{
	padding-left: 62px;
	padding-right: 62px;
	font-size: 17px;
	font-weight: 400;
}
.dashed-line{
	padding-top: 2%;
	border-bottom: 2px dashed #cccccc;
	width: 95%;
	margin: 0 auto;
}
  /* Uchazec prihlaseny */

.pink{
	color:#ab166a;
}
.orange{
	color:#FF9022;
}
.green{
	color:#0b8f79;
}
.header-aspirant{
	padding-top: 200px;
}
.mascot-wink{
	width: 80px;
}
.mascot{
	position: absolute;
	margin-top: -70px;
	animation: come-in 3s linear;
}
.wink01{
	background-image: url('../img/mascot/mascot01.png') no-repeat center fixed; 
}
.wink02{
	background-image: url('../img/mascot/mascot03.png') no-repeat center fixed; 
}
#mascot-animation > img{
	position: absolute;
    color: transparent;
    opacity: 0;
	margin-top: -80px;

    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 12s linear infinite 0s;
    -moz-animation: imageAnimation 12s linear infinite 0s;
    -o-animation: imageAnimation 12s linear infinite 0s;
    -ms-animation: imageAnimation 12s linear infinite 0s;
    animation: imageAnimation 12s linear infinite 0s; 
}
#mascot-animation > img:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s; 
} 
#mascot-animation > img:nth-child(3) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
#mascot-animation:hover:after{
	content: url('../img/mascot/mascot02small.png'); 
	width: 110px;
    display: block;
	cursor: pointer;
	margin-top: -110px;
}
.bubble{
	position: absolute;
	margin-top: -130px;
	margin-left: 90px;
	animation: show-bubble 1s linear;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	opacity: 0;
	-webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   -o-animation-fill-mode:forwards; 
   -ms-animation-fill-mode:forwards; 
   animation-fill-mode:forwards; 
}
.table-heading{
		font-size: 16px;
		font-weight: 500;
	}
.lecture-time{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}
.lecture-title{
	font-size: 20px;
	font-weight: 500;
	margin: 0 auto;
	margin-top: 2%;
	padding-bottom: 7%;
	width: 80%;	
}
.table-item a{
	font-size: 16px;
	font-weight: 600;
	color: #6D2F7C;
}
.button-free, .table-item .button-free{
	color: white;
	padding: 10px 20px;
	background-color: #FF9022;
	border-radius: 4px;
	font-weight: 500;
}
.table-item:hover{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-free:hover, .button-free:active{
	background-color: #6D2F7C;
	color: white;
}
.capacity{
	padding-top: 5%;
}
.oneLine{
	padding-top: 15px;
	padding-bottom: 38px;
}
@media (min-width: 768px){
	.header-aspirant{
		padding-top: 150px;
	}
	.bubble{
	margin-top: -130px;
	margin-left: 120px;
	}
	.mascot-wink{
		width: 110px;
	}
	.mascot{
	margin-top: -90px;
	}
	#mascot-animation > img{
	margin-top: -110px;
	}
	.header-aspirant{
		padding-top: 200px;
	}
	 .table-item{
		padding-bottom: 9%;
		padding-top: 5%;
		margin-top: 10%;
	}
	.table-heading{
		font-size: 24px;
		font-weight: 500;
	}
}

 /* Login Form*/
 .login-heading{
	font-size: 28px;
	font-weight: 400;
	margin: 30px 0 30px;
	text-transform: none;	
	text-align: center;
}
input{
	margin: 0 auto;
	font-size: 16px;
	display: block;
	width: 80%;
	padding: 10px 10px;
	background: #f4f4f4;
	border: 1px solid #d1d1d1;
	color: #939393;
	border-radius: 4px;
}
input[type=password] {
	width: 240px;  
    background-image: url('../img/picto/password.png');
    background-repeat: no-repeat;  
    background-position: 8px 7px;
	padding-top: 10px;
    background-size: 22px;
    padding-left: 38px;
	border-radius: 4px;
	margin: 0 auto;
}
input[type=login] {
	width: 240px;
    background-image: url('../img/picto/login.png');
    background-repeat: no-repeat;
    background-position: 8px 7px;
    background-size: 22px;
    padding-left: 38px;
    border-radius: 4px;
	margin: 0 auto;
}
input[type=submit] {
    margin: 0 auto;
    width: 240px;
	height: 50px;
	background-color: #FF9022;
	border-color:#FF9022;
	border-radius: 4px;
	color: white;
}
input[type=submit]:hover,
input[type=submit]:focus {
	background-color: #ee7600;
	border-color:#ee7600;
	color: white;	
}
input:focus {
    outline:0;
    border-color:#6D2F7C;
	background-color: white;
	color: #6D2F7C;
	border-width: 2px;
}
input[type=login]:focus{
	background-image: url('../img/picto/loginFialova.png');
}
input[type=password]:focus{
	background-image: url('../img/picto/passwordFialova.png');
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #e5e5e5;
    background-image: url(images/login.png);
    background-repeat: no-repeat;
    color: #939393;
}
@media (min-width: 768px) {	
	input[type=login] {
	width: 240px;
    background-position: 8px 7px;
    background-size: 22px;
    padding-left: 38px;
	border: 1px solid #d1d1d1;
	}
}
#login_err{
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: -15px;
	display: none;
}
.field-wrap {
  position:relative;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  display: block;
}
.registration-subheading{
	margin-top: 20px;
    font-size: 18px;
	text-align: center;	
	padding-bottom: 20px;
}
.wrapper{
	padding-top: 4%;
}
.registration-wrapper{	
	text-align: center;
	width: 240px;
	border-radius: 4px;
	margin: 0 auto;	
    background-color: #b5b5b5;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
	font-size: 20px;
	text-decoration: none; 
}
.registration-wrapper a{
	text-decoration: none;
	color: white;
}
.registration-wrapper:hover{
	background-color: #909090;
}
.spaceMobile{
	padding-top: 50px;
	margin-top: -40px;
}
.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}
.circle.active{
  background-color: rgba(0, 0, 0, 0.7);
}
.progress_bar {
  width: 65px;
  margin: 0 auto;
  display: block;  
}
select {
  color: #939393;
  margin: 0 auto;
  font-size: 22px;
  display: block;
  width: 295px;
  padding: 5px 10px;
  background-color: #e5e5e5;
  border: 1px solid #a0b3b0;
  border-radius: 4px;
  border: 2px solid #cccccc;
  transition:border-color .25s ease, box-shadow .25s ease;  
}
select:focus { 
	outline:0;
    border-color:#6e2f7c;
	background-color: white;
	color: #6e2f7c;
}

.first-row{
	display: none;
}
.second-row{
	display: none;
}
.third-row{
	display: block;
}
.fourth-row{
	display: none;
}
.registration-heading{
		
}
.more-circles{
	width: 88px; 
}
#sign-in{
	display: block;
}
#sign-up{
	display: none;  
}
#reg_button1, #reg_button2, #reg_button3{
    margin: 0 auto;
    width: 295px;
	height: 50px;
	background-color: #FF9022;
	border-color: #FF9022;
	border-radius: 4px;
	color: white;
}
#reg_button1:hover, #reg_button1:focus,
#reg_button2:hover, #reg_button2:focus,
#reg_button3:hover, #reg_button3:focus{
	background-color: #ee7600;
	border-color:#ee7600;
	color: white;	
}
@media (min-width: 768px) {	
	.number-registration{
		width: 295px;
	}
	.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
	}	
	.modal-content {
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 600px;
		height: 600px;
		border-radius: 50%;
	}	
	.animate {
    -webkit-animation: popup 0.6s;
    animation: popup 0.6s
	}
	@-webkit-keyframes popup {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
	}    
	@keyframes popup {
    from {transform: scale(0)}
    to {transform: scale(1)}
	}
	.login-heading{	
	font-size: 35px;
	color: black;
	text-align:center;
	font-weight: 400;
	margin: 0 0 22px;
	text-transform: none;	
	}
	#reg_button1, #reg_button2, #reg_button3{
    width: 295px;
	height: 50px;
	}
	
	textarea {
	border:2px solid #a0b3b0;
	resize: vertical;
	}
	input {
	font-size: 22px;
	width: 295px;
	height: 100%;
	padding: 5px 10px;
	}
	input[type=login] {
	width: 295px;
	}
	input[type=password] {
	width: 295px;
	}
	input[type=submit] {
    width: 295px;
	height: 50px;
	}
	.registration-heading{
	font-size: 22px;
	text-align: center;
	padding-bottom: 16px;
	padding-top: 10px;
	}
	.registration-wrapper{	
	width: 295px;
    padding: 10px 16px;   
	font-size: 20px;
	}
	.buttonX{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #cccccc;
    border: none;
    padding: 8px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-left: 450px;
	margin-top: 40px;
	cursor: pointer;
	}	
}
.slim{
	padding-bottom: 5px;
}

	
 /* Vystavovatel prihlaseny*/	
 
 
 .dropdown-user{
	margin-top: 10px;
 }
 .navbar-symbol{
	font-weight: 600;
	letter-spacing: 1px;
 }
.order{
	margin-top: 1%;
	margin-bottom: 3%;
	margin: 0 auto;	
}
.order-title{
	font-size: 25px;			
	font-weight: bold;
	padding-bottom: 3%;
}
.order-subtitle{
	font-size: 18px;			
	padding-bottom: 1%;
	font-weight: 600;
	margin-left: -15px;
}
.order-detail{
	font-size: 16px;	
	font-weight: 400;
}
#collapse-order{
	padding-top: 2%;
}
.counter{
	width: 60px;
    height: 30px;
	text-align: center;
	padding-bottom: 3%;
}
.radio-btn{
	margin: 0 auto;
	text-align: center;
	display: block;
}
input[type="radio"] {
    height:20px;
    border-radius:50%;
    outline:none; 	
	margin: 0 auto;
	margin-bottom: 15px;	
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
	margin: 0;
	margin: 0 auto;
}
.order-align, .order-align2{
	text-align: center;
	margin: 0 auto;
}
.stand{
	fill: #bdbdbd;
}
.stand:hover{
	fill: #FF9022;
	cursor: pointer;
}
.selected{
	fill: #6D2F7C;
}
.stanokUlozit{
	margin: 0 auto;
    width: 12%;
	background-color: #6D2F7C;
	border-radius: 25px;
	cursor: pointer;
	text-decoration: none;  
	font-family: 'webFont', sans-serif;
	font-size: 20px;
	color: white;	
	
	padding: 1%;
	border-bottom: 5px solid #572563;
    text-shadow: 0px -2px #572563;
	 transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.stanokUlozit:hover{
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
	background-color: #4c2056;
}
.image-view{
	background: url('../img/map-md.png'); 
	background-size: cover;	  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	height: 247px;
	width: 500px;
	margin: 0 auto;
	display: block;
}
@media (min-width: 700px){
	.image-view{
	background: url('../img/map-md.png'); 
	height: 345px;
	width: 700px;
	}
}
@media (min-width: 1100px){
	.image-view{
	background: url('../img/map-lg.png');
	height: 493px;
	width: 1000px;
	}
}
@media (min-width: 570px)) {
	input[type="radio"], input[type="number"], input[type="checkbox"]  {	
	margin: 0;
	}
}
@media (min-width: 768px) {
	.order{
	margin-top: 1%;
	margin-bottom: 3%;
	margin: 0 auto;	
	}
	.order-align{
	text-align: left;
	}
	.order-align2{
	text-align: right;
	}
	.order-title{
	font-size: 25px;			
	padding-bottom: 3%;
	}
	.order-subtitle{
	font-size: 18px;			
	padding-bottom: 1%;
	font-weight: 600;
	}
	.order-detail{
	font-size: 16px;	
	font-weight: 400;
	}
	.radio-btn{
	text-align: left;
	display: block;
	margin: left;
	}
	input[type="radio"] {
	width: 20px;
    height: 20px;
	margin:0;
	margin-top: 3px; 
    margin-bottom: 10px;
	}	
	input[type="number"] {
    width: 60px;
    height: 30px;
	text-align: center;
	font-size: 16px;  
	margin: 0;
	margin-bottom: 2%;
	}
	input[type="checkbox"] {
    width: 20px;
    height: 20px; 
	margin: 0;
	}
}

 /* ----- Profile -------------------------------- */

 #profil{
	padding-top: 40px;
	padding-bottom: 60px;
 }
 .slimer{
	padding:3%;
	padding-bottom: 2%;
	padding-top: 2%;
}
.wrapper-industry{
	width: 90%;
}	
.wraper-profile-btn{
	width: 80%;
}
.cancel a:hover, .cancel a:active{
	color: white;
}
.nickname-title{
	font-size: 24px;
	padding-bottom: 3%;
}
input[type=text], select {
    width: 80%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 14px;
}

input[type=text]:focus{
	border-color: #6e2f7c;
	outline: none; 
	box-shadow: 0 0 2px 0.2px #6e2f7c;
}
input[type=email], select {
  width: 80%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 16px;
}

input[type=email]:focus{
	border-color: #6e2f7c;
	outline: none; 
	box-shadow: 0 0 2px 0.2px #6e2f7c;
}
input[type=submit].buttonSave{
	width: 150px;
	margin: 0 auto;
	display: block;
}
.cancel{
	width: 150px;
	background-color: #b5b5b5;

}
.cancel:hover{
	color: white;
	background-color: #909090;
}
.wrapper-industry a[data]:hover:after {
  content: attr(data);
  padding: 4px 8px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  z-index: 2;
  border-radius: 5px ;
  background: pink; 
}

@media (min-width: 768px) {
	.wrapper-industry{
	width: 70%;
}	
}
img.fin.active{
  content: url(images/odvetvia/FIN.png);
  background: none;
}

img.hr.active{
  content: url(images/odvetvia/HR.png);
  background: none;
}

img.chem.active{
  content: url(images/odvetvia/CHEM.png);
  background: none;
}

img.it.active{
  content: url(images/odvetvia/IT.png);
  background: none;
}

img.jaz.active{
  content: url(images/odvetvia/JAZ.png);
  background: none;
}

img.obch.active{
  content: url(images/odvetvia/OBCH.png);
  background: none;
}

img.por.active{
  content: url(images/odvetvia/POR.png);
  background: none;
}

img.prav.active{
  content: url(images/odvetvia/PRAV.png);
  background: none;
}

img.serv.active{
  content: url(images/odvetvia/SERV.png);
  background: none;
}

img.stav.active{
  content: url(images/odvetvia/STAV.png);
  background: none;
}

img.stro.active{
  content: url(images/odvetvia/STRO.png);
  background: none;
}

img.tech.active{
  content: url(images/odvetvia/TECH.png);
  background: none;
}

img.zem.active{
  content: url(images/odvetvia/ZEM.png);
  background: none;
}
	

 /* ----- Animations -------------------------------- */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1}
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes come-in {
 from {
    transform-origin: center;
	transform: translate3d(-1000%, 0, 0) rotate3d(0, 0, 1, -1000deg);
	visibility: visible;
  }

  to {
	transform: translate3d(0, 0, 0);
    transform: none;
  }
}

.come-in {
  animation-name: come-in;
}

@keyframes show-bubble {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
 

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.show-bubble {
  animation-name: show-bubble;
}

@-webkit-keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.810, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.15, 0.810, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

}
 
 