body {
  overflow-x: hidden;
  font-family: 'Poppins',Helvetica, Arial, sans-serif;
  background: url('../img/photo/bg02darker.jpg') no-repeat center fixed; 
  background-size:cover;	  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.text-soft {
  color: #5f5f5f;
}
.text-primary {
  color: #FF9022;
}
.text-inverse{
	color: white;
}
.space{
	margin-bottom: 40px; 
}
.pointer{
	cursor: pointer;
}
p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0 0 8px;
}
p.large {
  font-size: 16px;
}
.mainLogo{
	margin-left: -5px;
	margin-top: -12px;
	width: 130px;
}
.date{
	color: #FF9022;
}
.divided{
	padding-left: 0.5%;
	padding-right: 0.5%;
}
.login{
	margin:-15px;
	margin-left: +15px;
	background-color: #FF9022;
	border-width: 0px;
	color: white;
    text-transform: uppercase;
    padding: 6px 20px;
}
.login:hover,
.login:active,
.login.active,
.login:focus,
.login:active:focus, .btn.active:focus
{
	background-color: #ee7600;
	border-width: 0px;
	color: white;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
}
a{
	text-decoration: none;
}
h1{
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
h2{
  font-weight: 400;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
	background-color: #eeeeee;
}
.bg-white{
	background-color: white;
}
.btn-primary {
  color: white;
  background-color: #FF9022;
  border-color: #FF9022;
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #FF9022;
  border-color: #FF9022;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FF9022;
  border-color: #FF9022;
}
.btn-primary .badge {
  color: #FF9022;
  background-color: white;
}
.button-box {
	display: table;
    margin: 0 auto;
	float:none;
	text-align: center;
}
.btn-participate {
  color: white;
  background-color: #6D2F7C;
  border-color: #6D2F7C;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px 20px;
}
.btn-participate:hover,
.btn-participate:focus,
.btn-participate:active,
.btn-participate.active,
.open .dropdown-toggle.btn-participate {
  color: white;
  background-color: #FF9022;
  border-color: #FF9022;
  text-decoration: none;
}
.btn-participate:active,
.btn-participate.active,
.open .dropdown-toggle.btn-participate {
  background-image: none;
  text-decoration: none;
}
.btn-participate .badge {
  color: #FF9022;
  background-color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
	.btn-participate {
		  padding: 20px 40px;
		  font-size: 22px;
	}
}
.navbar-custom {
  background-color: none;
  border-color: transparent;
  background-color: #222222;
}
.navbar-custom .navbar-brand {
  color: #FF9022;
  font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #FF9022;
}
.navbar-custom .navbar-collapse {
   border-color: #FF9022;
   background-color: none;
}
.navbar-custom .navbar-toggle {
  border-color: #FF9022;
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #FF9022;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: white;
  background-color: #FF9022;
}
.navbar-custom .nav li a {
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #FF9022;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  background-color: transparent;
  color: #FF9022;

}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #FF9022;
  background-color: transparent;
}
.navbar-custom .navbar-nav a:visited{
	color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  text-align: center;
  color: white;
  text-align: center;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in, header .header-text .intro-lead-in {
  font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 15px;
}
header .intro-text .intro-heading {
  font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 150px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 40px;

  }
  header .intro-text .intro-heading {
    font-family: 'Poppins',"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 120px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
.strip{	
	height: 70%;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgba(0,0,0,0.5);
}
section {
  padding: 40px 0;
}
section h2.section-heading {
  font-size: 32px;
  margin-top: 0;
  line-height: 1.2;
}
section h3.section-subheading {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  margin-bottom: 40px; 
  line-height: 1.4;
}
/* section#reason {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
} */
@media (min-width: 768px) {
	section {
		padding: 80px 0;
	}
	section h2.section-heading {
		font-size: 40px;
		margin-top: 0;
	}
	section h3.section-subheading {
		font-size: 22px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: none;
		margin-bottom: 40px;
		line-height: 1.4;
	}
}
.darker{
	font-weight: 400;
}
.light{
	font-weight: 300;
}
.table-reasons{
	background-color: white;
	padding: 5%;
	padding-top:6%;
}
.container2{
	display: table;
    margin: 0 auto;
	float:none;
	margin-bottom: 30px; 
}
.text-detailed{
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-weight: 300;
}
.reason-heading {
  font-weight: 500;
  font-size: 22px;
  text-transform: none;
}
.lower1{
	padding-top: 1%;
}
.lower2{
	padding-top: 2%;
}
.pictogram{
	 background:transparent url("img/picto/02.png") center top no-repeat;
}
.description{
  font-size: 16px;
}
.freeSpace{
	height: 40px;
	width: 40px;
}
.nondashed{
	 padding-bottom: 4%;
	 padding-top: 4%;	
}
.dashed1, .dashed2, .dashed3, .dashed4{
	 border-bottom: 2px dashed #bdbdbd;
	 padding-bottom: 4%;
	 padding-top: 4%;
}
.narrower{
	width: 90%;
	margin: 0 auto;
    display: block;
	}
@media (min-width: 768px) {
	.container2{
		margin-bottom: 60px; 
	}
	.dashed1{
		border-right: 2px dashed #bdbdbd;
		padding-bottom: 2%;
		padding-top: 2%;
	}
	.dashed2{
		padding-bottom: 2%;
		padding-top: 2%;
	}
	 .dashed3{
		border-right: 2px dashed #bdbdbd;
		border-bottom: none;
	}
	.nondashed{
		padding-bottom: 2%;
		padding-top: 2%;
	}
	.wider{
		padding-bottom: 4%;
		padding-top: 4%;
	}
	.narrower{
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	.dashed4{
		border-right: 2px dashed #bdbdbd;
		border-bottom: none;
	}
}
.violet{
	background-color: #6D2F7C;
}
#map{
	height: 500px;
	margin-left: -30px;
	margin-right: -30px;
}
.mapaAdresa{
	width: 150px;	
	height: 150px;
	border-radius: 50%;
	background-color: #FF9022;
	position: absolute;
	top: 75%;
	right: 29%;
}
.mapaAdresa:hover,
.mapaAdresa:focus
{
	background-color: #ee7600;
}
.adresaNadpis{
	margin: 0 auto;
	padding-top: 34%;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-bottom: 3%;
}
.adresaText{
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: white;
	text-align: center;
}

@media (min-width: 768px) {	
	.mapaAdresa{
		width: 200px;	
		height: 200px;
		top: 64%;
		right: 4%;
	}
	.adresaNadpis{
		padding-top: 36%;
		font-size: 26px;	
		padding-bottom: 3%;
	}
	.adresaText{
		font-size: 18px;
	}
}
.contact-member {
  text-align: center;
  margin-bottom: 50px;
}
.contact-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.contact-member p {
  margin-top: 0;
  line-height: 1.2;
  margin: 10px 0 0;
}
section#contact .section-heading {
	margin-bottom: 50px; 
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #FF9022;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
.footerJobch{
	padding-top: 10%;
}
.logo{
	padding-left:3%;
	padding-right: 3%;
}
.bottomStrip{
	background-color: #6D2F7C;
	padding-bottom: 60px;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
@media (min-width: 768px) {	
	.bottomStrip{
		padding-bottom: 50px;
	}
}
::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
 /* Uchazec neprihlaseny */
#reasonReg{
	padding-top: 0px; 
 }
.aspirant-heading{
	padding-bottom: 0.5%;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
}
.aspirant-subtitle{
	font-size: 22px;
	font-weight: 300;
	padding-top: 3%;
	line-height: 1.2;
}
.header-text{
	padding-top: 100px;
	padding-bottom: 180px;
}
.row{
	text-align: center;
	margin: 0 auto;
 }
 .reason1{
	margin-top: -28%; 
 }
 .reasonReg-heading{
	font-weight: 400;
	font-size: 24px;
	text-transform: none;
	margin-bottom: 2%;
	
}
.header-text{
	padding-bottom: 120px;
}
.reasonMobile{
	border-bottom: 2px dashed #bdbdbd;
	padding-bottom: 5%;
	padding-top: 5%;
}
.reasonMobile-nondashed{
	padding-bottom: 5%;
	padding-top: 5%;
}
.pictoText{
	padding-bottom: 2%;
}
.pictoItem{
	border: 15px solid white; 
	border-radius: 50%;
	background-color: white;
 }
.reg{
	width: 85%;
	margin: 0 auto;
}
.photoBg{
	background-image: url('../img/photo/bg01.png');
	background-repeat: no-repeat;
	 background-size:cover;	  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
 }
.programme-heading{
	 font-size: 34px;
 }
.big{
	padding: 20px 30px;
	font-size: 20px;
	text-transform: none;
	margin: 0 auto;
	margin-top: 8%;
	margin-bottom: 3%;
	float: none;
	display:block;
	border-radius: 8px;	
}
.small{
	font-size: 20px;
	line-height: 1.1;
	font-weight: 500;
	margin-bottom: 5%;
}
.imgLecture{
	margin-bottom: 10%;
}
@media (min-width: 768px) {	
	.aspirant-heading{
		padding-bottom: 0.5%;
		font-size: 54px;
	}
	.aspirant-subtitle{
		font-size: 24px;
		font-weight: 400;
		padding-top: 1%;
		line-height: 1.2;
	}
	.header-text{
		padding-top: 100px;
		padding-bottom: 180px;
	}
	.pictoReason{
		margin: 0 auto;
		margin-top: -28%;
	}
	.reasonReg-heading{
		font-weight: 500;
		font-size: 22px;
		text-transform: none;
		margin-bottom: 2%;
	}
	.reasonMobile{
		border-bottom: none;
	    padding-bottom: 0;
		padding-top: 0;
	}
	.reasonMobile-nondashed{
		padding-bottom: 0;
		padding-top: 0;
	}
	.big{
		font-size: 24px;
	}
 }


 